.weather-container {
  display: flex;
  justify-content: center;
  margin-top: -82px;
}

.info-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 40px;
  max-width: 300px;
}

.info-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

hr {
  max-width: 300px;
}

span {
  font-size: 17px;
  color: rgba(128, 128, 128, 0.801);
  margin-bottom: -20px;
  min-width: 80px;
}

.current-temp {
  font-size: 25px;
}

.condition-icon {
  width: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
}

.location {
  font-size: 30px;
}

/* Daily forcast */

.forecast-days {
  display: flex;
  align-items: center;
}

.forecast-day {
  background-color: rgba(192, 192, 192, 0.226);
  margin: 5px;
  border-radius: 15px;
  padding-left: 15px;
  width: 150px;
}

.day-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
}

.forecast-day h4 {
  margin-right: 25px;
}

.forecast-icon {
  width: 50px;
}

@media (max-width: 1049px) {
  .forecast-day h4 {
    margin: 0;
  }

  .forecast-days {
    display: flex;
    flex-direction: column;
  }

  .forecast-day hr {
    display: block !important;
    width: 70%;
    border: none;
    border-top: 1px solid #ccc;
    margin-right: 40px !important;
  }

  .weather-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}

.forecast-day hr {
  width: 60%;
  margin-right: 35px;
}

.toggle-btn {
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
}

.max-temp {
  color: rgb(0, 195, 255);
}

.min-temp {
  color: rgb(180, 108, 247);
}
