.weather-container {
  display: flex;
  justify-content: center;
}

.info-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 40px;
  max-width: 300px;
}

.info-container {
  display: flex;
  justify-content: center;
}

hr {
  max-width: 300px;
}

span {
  font-size: 17px;
  color: rgba(128, 128, 128, 0.801);
  margin-bottom: -20px;
  min-width: 80px;
}

.current-temp {
  font-size: 25px;
}

.condition-icon {
  width: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
}

.location {
  font-size: 30px;
}

/* Daily forcast */

.forecast-day {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forecast-day h4 {
  margin-right: 30px;
}

.forecast-icon {
  width: 50px;
}

@media (max-width: 500px) {
  .forecast-day h4 {
    margin: 0;
  }

  .forecast-day {
    display: flex;
    flex-direction: column;
  }
}
